<!-- Modal Trigger -->
<div class="col">
    <a class='btn' data-target='demoModal' modal>Rendez-vous</a>
</div>
<!-- Modal Structure -->
<div id="demoModal" class="modal">
    <div class="modal-content">
        <div class="container">
            <div>
                <div class="form">
                    <form name="PatientForm">
                        <input type="text" ng-model="jour" placeholder="jour" required/><br>
                        <input type="text" ng-model="heureStart" placeholder="Heure début" required /><br>
                        <input type="text" ng-model="heureEnd" placeholder="heure de fin" required/><br>
                        <input type="text" ng-model="nom" placeholder="Nom" required/><br>
                        <input type="text" ng-model="prenom" placeholder="Prénom" required/><br>
                        <input type="text" ng-model="email" placeholder="email" required/><br>
                        <input type="text" ng-model="tel" placeholder="tél" required/><br>
                        <input type="text" ng-model="adresse" placeholder="lieu" required/><br>
                        <input type="text" ng-model="commentaire" placeholder="commentaire" required/><br>

                        <input type="submit" ng-disabled='PatientForm.$invalid' ng-click="addPost()">
                    </form>
                </div>
            </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">close</a>
    </div>
</div>