<div class="container monactivite">
    <div class="flex">
        <h3 class="actTitle valign-wrapper">
        <i class="medium material-icons">work</i>
        La Réflexologie chez vous</h3>
    </div>
    <div class="flex">
        <div class="expand">
            <img id="franceAquitaine" class="circle" src="assets/img/france_aquitaine.png" alt="France-Aquitaine cartoon map">
            <div class="valign-wrapper">
                <p class="txt">
                    Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Phasellus mattis diam diam, in suscipit felis porttitor ut. In viverra luctus ante eu
                    imperdiet. Quisque non molestie mi. Suspendisse potenti. Quisque rhoncus accumsan risus, vel vestibulum
                    nisl ullamcorper sed. Nam sed est non quam maximus dictum. Nunc sagittis felis ac mauris venenatis, non
                    pulvinar sem dictum. Mauris a elit et ante vulputate imperdiet. Suspendisse eget tortor sit amet neque
                    sodales porta vitae id ligula.
                </p>
            </div>
        </div>
    </div>
</div>
