<div class="row" ng-repeat="rdv in $ctrl.rdvs  track by $index">
    <div class="card white darken-1">
        <div class="card-content black-text">
            <span class="card-title">{{rdv.patient.nom}}, {{rdv.patient.prenom}}</span>
            <p>{{rdv.patient.commentaire}}</p>
        </div>
        <div class="card-action">
            <table class="striped responsive-table">
                <tr>
                    <thead>

                        <td>Nom</td>
                        <td>Prenom</td>
                        <td>Adresse</td>
                        <td>Numéro de téléphone</td>
                        <td>Email</td>
                        <td>Rendez-vous</td>
                    </thead>
                </tr>
                <tr>
                    <td>{{rdv.patient.nom}}</td>
                    <td>{{rdv.patient.prenom}}</td>
                    <td>{{rdv.patient.adresse}}</td>
                    <td>{{rdv.patient.tel}}</td>
                    <td>{{rdv.patient.email}}</td>
                    <td> {{rdv.jour}} {{rdv.heureStart}} {{rdv.heureEnd}}</td>
                </tr>
            </table>
            <ul class="collapsible" data-collapsible="expandable">
                <li>
                    <div class="collapsible-header"><i class="material-icons"></i>Lieu</div>
                    <div class="collapsible-body">
                        <span>
                          <div id="maps">
            <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyATjR_53yrD5MEaLfbpsfh3NyMAIK2crxo&q=18,rue,mathieu+Bordeaux+France"
                width="100%" height="300" style="border:0"></iframe>
        </div>
        </span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons"></i>Valider/supprimer</div>
                    <div class="collapsible-body">
                        <a class="waves-effect waves-light btn  val modal-action modal-close" ng-click="toast()"><i class="material-icons">done</i></a>
                        <a class="waves-effect waves-light btn red nope modal-action modal-close" ng-click="nope()"><i class="material-icons">X</i></a></div>
                </li>
            </ul>


        </div>
    </div>
</div>