<div class="test parallax-container">
        <div parallax>
            <img src="assets/img/cover.jpg" width="100%">
        </div> <div class="contain"><h1 class="textpar">Caroline Marques</h1></div>
</div>          

<nav class="menu">
    <div class="nav-wrapper">
        <a href="#" id="logo" class="brand-logo center">
            <img id="svg-logo" src="./assets/img/logo-05.svg" alt="logo">
        </a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a class="valign-wrapper">Mon Activité</a></li>
            <li><a class="valign-wrapper">La Réflexologie</a></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="valign-wrapper">Qui Suis-Je ?</a></li>
            <li><a class="valign-wrapper">Rendez-Vous</a></li>
        </ul>
    </div>
</nav>