/* ------- Menu latéral backoffice ------- */

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.menu-container {
    position: fixed;
    background: #4B5258;
    color: white;
    padding: 0 !important;
    left: 0px !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    height: 100%;
}

.flex {
    display: flex;
}

.logo-nav {
    border: 2px solid white;
    padding: 10px;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin: 20px auto;
}

.menu-list {
    width: 100%;
}

.menu-item {
    display: flex;
    color: white;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    transition: all 200ms;
    padding: 10px;
}

.menu-item p {
    margin: auto 0 auto 5px;
}

.menu-item:hover {
    cursor: pointer;
    background: white;
    color: #4B5258;
}

.active {
    cursor: pointer;
    background: white;
    color: #4B5258;
}

.bottom {
    padding: 10px !important;
    position: absolute;
    bottom: 0;
}


/* ------- FIN Menu latéral backoffice ------- */

.horaires {
    width: 100%;
    position: fixed;
    height: 100%;
    background: blueviolet;
}

.fade {
    width: 100%;
    position: absolute;
}

.fade.ng-enter {
    transition: all 0.5s;
    opacity: 0;
}

.fade.ng-enter.ng-enter-active {
    opacity: 1;
}

.fade.ng-leave {
    transition: all 0.5s;
    opacity: 1;
}

.fade.ng-leave.ng-leave-active {
  opacity:0;
}

/* ----- card ----- */

.background {
    background: white;
}

thead {
    background: #EEEEED;
    font-weight: 500;
}



/* ------- Authentification------- */

.flexo {
    display: flex;
    width: 100%;
    height: 100%;
}

.authForm {
    width: 100%;
    height: 100%;
    display: flex;
}

#authContainer {
    margin: auto;
    width: 50vw;
    padding: 2%;
    border-style: solid;
    border-width: thin;
    border-color: #8BCED3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btnConnexion {
    background-color: #8BCED3;
    margin-bottom: 15px;
}

.logoCont {
    height: 15vh;
    width: 15vw;
}

.imgAuth {
    margin: 15px 0;
    width: 30%;
}

@media only screen and (max-width: 500px) {
    .imgAuth {
        width: 70%;
        margin-bottom: 100px;
    }
    #authContainer {
        border-style: none;
        width: 90vw;
    }


}
