html, body, .block {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}

.parallax {
    z-index: 0;
}

.contain {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
}

.textpar{
    color: white;
    margin: auto;   
}

/* -------- Menu --------*/

@media screen and (max-width: 993px) {

    nav ul li {
        height: 10% !important;
    }

    .side-nav li>a:hover {
        background-color: white;
    }

    #mobile-demo li:first-child {
        margin-top: 10%; 
    }
  
}

.test {
    height: 90%;
    background: grey;
}

.menu {
    height: 10%;
    width: 100%;
    box-shadow: 0 0 5px #BBBBBB;
}

.pin-bottom {
    position: relative;
}

nav ul {
    height: 100%;
}

nav ul li {
    height: 100%;
}

nav ul a {
    transition : all 0.2s;
    color:black;
    height: 100%;
    border-bottom: 5px solid white;
}

nav ul.left li {
    padding-left: 10vw;
}

nav ul.right li {
    padding-right: 10vw;
}

nav {
    background: white;
    z-index: 10;
}

nav ul a:hover {
    transition : all 0.2s;
    background-color : white;
    color: #80cbc4;
    border-bottom: 5px solid #80cbc4;
}

#logo {
    display: flex;
    width: 15vh;
    height: 15vh;
    margin-top: -2.5vh;
    border-radius: 50%;
    border: 6px solid #80cbc4;
    background: white;
    cursor: pointer;
}

#svg-logo {
    margin: auto;
    width: 2em;
    height: 2em;
}

#menu-mobile {
    height: 0;
    width: 0;
}

/* -------- Qui Suis-Je ? --------*/

.material-icons {
    color : #80cbc4;
}

.title {
    margin: auto;
}

.flex {
    display: flex;
}

.expand {
    margin: auto;
    width: 15vw;
    transition: all 0.7s;
    display: inline-flex;
    height: 20vw;
}


#portrait {
    margin-top : 50px;
    margin : auto;
    width: 15vw;
    border: 6px solid #80cbc4;
}

.txt {
    min-width: 40vw;
    margin-left: -20vw;
    opacity: 0;
    transition: margin-left 0.5s, opacity 0.3s;
}

.quisuisje:hover .txt {
    margin-left: 5vw;
    opacity: 1;
    transition: margin-left 0.5s, opacity 1s;
}

.quisuisje:hover .expand {
    width: 80%;
}