<div class="container">
    <div class="loginForm">
        Nom d'utilisateur: <input type="text" name="Username" value="Nom d'utilisateur">
        Mot de passe: <input type="text" name="Password" value="Mot de passe">
        <button>S'identifier</button>
    </div>
</div>


<div class="container">
<div class="row">
   <form class="col s12">
     <div class="row">
       <div class="input-field col s6">
         <i class="material-icons prefix">account_circle</i>
         <input id="icon_prefix" type="text" class="validate">
         <label for="icon_prefix">First Name</label>
       </div>
       <div class="input-field col s6">
         <i class="material-icons prefix">phone</i>
         <input id="icon_telephone" type="tel" class="validate">
         <label for="icon_telephone">Telephone</label>
       </div>
     </div>
   </form>
 </div>
</div>
