{{crtl.title}}
<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input id="userInput" type="text" class="validate">
                <label for="userInput">Nom d'utilisateur</label>
            </div>
            <div class="input-field col s6">
                <input id="pwdInput" type="password" class="validate">
                <label for="pwdInput">Password</label>
            </div>
            <div>
                <button class="btn waves-effect waves-light" type="submit" name="action">Connexion
                   <i class="material-icons right">send</i>
                 </button>
            </div>
        </div>
    </form>
</div>
