<div role="main">
    <div class="container">
        <section id="directives-calendar">
            <div class="well">
                <div class="row-fluid">
                    <div class="span8">
                        <tabset>
                            <tab select="renderCalendar('myCalendar1');">
                                <div class="calendar" ng-model="eventSources" calendar="myCalendar1" ui-calendar="uiConfig.calendar"></div>
                            </tab>
                        </tabset>
                        <div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
                            <button ng-click="remove()">Supprimer cet horraire</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
