<div class="container quisuisje">
    <h3 class="title">Qui suis-je ?</h3>
    <div class="flex">
        <div class="expand">
            <img id="portrait" class="circle" src="assets/img/portrait.jpg" alt="photo de caroline marques">
            <div class="valign-wrapper">
                <p class="txt">Bonjour, je m'appelle Caroline Marques, Réflexologue à domicile. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Phasellus mattis diam diam, in suscipit felis porttitor ut. In viverra luctus ante eu
                    imperdiet. Quisque non molestie mi. Suspendisse potenti. Quisque rhoncus accumsan risus, vel vestibulum
                    nisl ullamcorper sed. Nam sed est non quam maximus dictum. Nunc sagittis felis ac mauris venenatis, non
                    pulvinar sem dictum. Mauris a elit et ante vulputate imperdiet. Suspendisse eget tortor sit amet neque
                    sodales porta vitae id ligula.</p>
            </div>
        </div>
    </div>
</div>