<div class="container">
    <div class="row rowReflex">

        <div class="col s6 refleTitle valign-wrapper">
            <h3 class="center-align alignZeTextouz">Qu'est ce que la Réflexologie?</h3>
        </div>
        <div class="col s6 right imgcontainer">
            <div class="containimg valign-wrapper">
                <img class="imgpresReflex" src="assets/img/portrait.jpg" alt="">
            </div>
        </div>

        <div class="col s6 desctext left valign-wrapper">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mattis diam diam, in suscipit felis porttitor ut. In viverra luctus ante eu imperdiet. Quisque non molestie mi. Suspendisse potenti. Quisque rhoncus accumsan risus, vel vestibulum
                nisl ullamcorper sed. Nam sed est non quam maximus dictum. Nunc sagittis felis ac mauris venenatis, non pulvinar sem dictum. Mauris a elit et ante vulputate imperdiet. Suspendisse eget tortor sit amet neque sodales porta vitae id ligula.</p>
        </div>

    </div>
</div>
